[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-sdk = "*"
ariadne-codegen = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-socket = "*"
pytest-sugar = "*"
slack-bolt = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
