[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-sdk = "*"
ariadne-codegen = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-socket = "*"
pytest-sugar = "*"
slack-bolt = "*"
requests = "*"
aiohttp = "*"
gql = {extras = ["all"], version = "*"}
python-dotenv = "*"
ruff = "*"
flask = "*"
uuid-utils = "*"

[dev-packages]

[requires]
python_version = "3.9"
